.wrapper {
    // min-width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    cursor: pointer;
    height: 100%;
    // font-family: var(--font-family);

    // Disabled về mặt css
    &.disabled {
        pointer-events: none;
        // opacity: 0.5;
    }
}

.active {
    // padding: 15px 0 !important;
    // justify-content: space-between;
    // text-transform: none;
    // font-weight: 400;
    // font-size: 1.5rem;
    // border-bottom: 1px solid #f1eeea;
    // letter-spacing: 0.05em;
    // position: relative;
    // transition: all 0.5s;

    // &:last-child {
    //     border-bottom: none;
    // }
    border-bottom: 2px solid #fff;

    &:hover {
        border-bottom: 2px solid #5c5c5c;

        // ::before {
        //     content: '';
        //     width: 10px;
        //     height: 0.5px;
        //     background: var(--color-active);
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     // opacity: 0;
        // }
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 9px;
    margin-left: 4px;
    margin-bottom: 2px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.flag-title {
    font-size: 13px;
    font-weight: 700;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    background: #fe5b34;
    background: linear-gradient(90deg, #fe5b34 0%, #fe378c 100%, #fe378c 100%);
}

.green {
    // background-color: var(--primary);
    color: var(--color-active);
    // border-color: var(--primary);
}

.smallFlagTitle {
    background: #fe5b34;
    background: linear-gradient(90deg, #fe5b34 0%, #fe378c 100%, #fe378c 100%);

    font-size: 7px;
    text-transform: uppercase;
    height: 12px;
    line-height: 12px;
    padding: 0 5px;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    // margin-left: 2px;
    font-weight: 700;
}

.color {
    background: #5fbd74 !important;
}
