// Chung

.margin-top-2px {
    margin-top: -2px;
}

// ShopList
.menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.menu-list {
    border-bottom: 1px solid #ecf0f1;
    width: 100%;

    &:last-child {
        border-top: none;
    }
}

.custom {
    padding: 9px 18px;
    white-space: nowrap;
    text-align: left;
    display: block;
    font-size: 14px;
    border-bottom: none;
}

// MenuItem
.menu-item {
    width: 100%;
    border-radius: 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 1.5rem;
    // background-color: blue;

    &:hover {
        color: #5fbd74;
    }

    &.green {
        color: var(--color-active);
    }
}
