.wrapper {
    padding: 20px;
    width: 100%;
    display: flex;
}

.block-img {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    // padding-right: 15px;
    width: 100%;
}

.custom {
    height: auto;
    display: flex;
}

.custom-small {
    padding: 10px 0 !important;
    display: block;
    align-items: center;
    border-bottom: none;
}

.pd0 {
    padding: 0 !important;
}
