.wrapper {
    height: var(--default-layout-topbar-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #444444;
    font-family: 'Lato', sans-serif;

    .pdr0 {
        padding-right: 0;
        line-height: 50px;
    }

    .language-list {
        width: 120px;
        padding: 10px 15px;
        background: #555;
    }

    .item {
        cursor: pointer;
        color: #999999;
    }

    .language-item {
        padding: 5px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1;
        display: block;
    }
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-padding-topbar-spacer);
}

.actions {
    color: #999999;
    font-size: 1.4rem;
}

.action-left {
    display: flex;
}
