.wrapper {
    width: 100%;
    z-index: 1;
    display: block;
}

.item {
    padding: 0;
    width: 1519px;
}

.home-img {
    width: 1519px;
}

.section {
    display: block;
}

.wrapper-heading-home {
    padding: 50px 0;
    text-align: center;
}

.heading-title {
    font-size: 37px;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
}

.heading {
    color: #000000;
    line-height: 1.1;
}
