.wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
}

.inner {
    height: var(--default-layout-header-height);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: red;
    position: relative;
}

.header-type {
    width: var(--default-layout-width);
    height: 100%;
    position: relative;
}
