// .search-results,
.search {
    width: 25%;
}

.search-results {
    // width: 341.5px;
    width: auto;
}

.search {
    display: flex;
    position: relative;
    height: 41px;

    input {
        padding: 9px 50px 10px 9px;
        width: 100%;
        background: #fff;
        border: 1px solid #ececec;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        display: inline-block;
        border-radius: 4px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        -webkit-transition: all 150ms linear;
        transition: all 150ms linear;

        &:focus-within {
            background: #ffffff;
            outline: none;
            border-color: #d1d1d1;
        }
    }

    // nhận biết khi input có value
    // input:not(:placeholder-shown) ~ .search-btn {
    //     color: rgba(22, 24, 35, 0.75);
    // }
}

.search-btn {
    position: absolute;
    padding: 0;
    top: 0px;
    bottom: 0;
    right: 0px;
    border-radius: 0 4px 4px 0;
    border: 0;
    width: 50px;
    background: #d1d1d1;
    transition: opacity 150ms linear;
    cursor: pointer;
}

.search-icon {
    width: 18px;
    height: 40px;
    display: block;
    margin: auto;
    color: #fff;
}

// Tippy

.search-wrapper {
    background: #fff;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
    border-top: none !important;
    width: 341.5px;

    // padding: 10px 10px;
    // border-bottom: 1px dotted #dfe0e1;
    // clear: both;
}

.menu-list {
    // border-bottom: 1px solid #ecf0f1;
    // width: 100%;

    // &:last-child {
    //     border-top: none;
    // }
}

.clear {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    z-index: 100;
    margin: auto;
    height: 90%;
    padding: 0 15px 0 10px;
    cursor: pointer;
    color: #a7a7ab;
    background: #fff;
    // visibility: hidden;
}

.resultsMore {
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
