.wrapper {
    // padding: 10px 10px;
    // border-bottom: 1px dotted #dfe0e1;
    // clear: both;
    padding: 10px 10px;
    border-bottom: 1px dotted #dfe0e1;
    clear: both;
    display: flex;
    align-items: center;
}

.title {
    width: calc(100% - 40px);
    padding-right: 5px;
    float: left;
    line-height: 20px;
    position: relative;
    margin-top: 0px !important;

    .f-initial {
        line-height: 15px;
        font-size: 12px;
        font-weight: 600;
        float: left;
        margin: 0;
    }

    del {
        font-size: 11px;
        font-weight: 300;
        margin-left: 5px;
        color: #797979;
    }
}

.thumbs {
    width: 40px;
    display: inline-block;
    text-align: right;
    padding: 0;

    // a {
    //     color: #000000;
    // }
}

.img {
    max-width: 100%;
    vertical-align: middle;
}
